PORT=3000
MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourMongoURL
MONGODB_DB=yourDatabaseName

SMTP_HOST=smtp.brevo.com
SMTP_PORT=587
SMTP_USER=your-smtp-username
SMTP_PASSWORD=your-smtp-password
SMTP_FROM=your-email@example.com

JWT_SECRET=your-jwt-secret

APP_DOMAIN=http://localhost:3000